* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  transition: background 0.4s, color 0.4s;
  overflow-x: hidden;
}

/* THEMES */
body.dark {
  background: #0b0b0b;
  color: #fff;
}

body.light {
  background: #f5f5f5;
  color: #000;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
}

body.light .navbar {
  background: rgba(255,255,255,0.9);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00ff88;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.nav-links a:hover {
  color: #00ff88;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 120px 80px;
}

.hero h1 span {
  color: #00ff88;
}

.hero p {
  max-width: 500px;
  color: #aaa;
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: 1px solid #00ff88;
  color: #00ff88;
  text-decoration: none;
}

.btn:hover {
  background: #00ff88;
  color: #000;
}

/* TITLES */
.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skills span {
  border: 1px solid #00ff88;
  padding: 10px 18px;
}

/* PROJECTS */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 150px;
  border: 1px solid #00ff88;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  background: #00ff88;
  color: #000;
}

/* EXPERIENCE */
.center-text {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

/* CONTACT */
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  background: transparent;
  border: 1px solid #00ff88;
  color: inherit;
}

.contact-form button {
  padding: 14px;
  background: #00ff88;
  border: none;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
  }

  .section {
    padding: 100px 25px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .contact-form button {
    width: 100%;
  }
}
